{% extends "base.html" %}
{% load thumb %}
{% load markup %}

{% block cats %}
	{% for cat in cats %}
	<span class="category">
		{% if cat.icon != "" %}
			{% if cat.slug|lower == thecat|lower %}
				<a href="/filter/{{cat.slug}}"><img class="icon" src="{{ STATIC_URL }}icon/{{cat.icon}}.svg" type="image/svg+xml"/></a>
			{% else %}
				<a href="/filter/{{cat.slug}}"><img class="faded icon"src="{{ STATIC_URL }}icon/{{cat.icon}}.svg" type="image/svg+xml"/></a>
			{% endif %}
		{% endif %}
	</span>
	{% endfor %}

{% endblock %}

{% block body %}
	{% for item in posts %}
	<div class="row-fluid article-container">
		<div class="article-header">
			<span class="article-title"><a class="article-title shadow" href="/read/{{ item.slug }}">{{ item.title }}</a></span>
			<span class="article-date shadow">{{item.publish|date:"M d Y"}}
		</div>
		<div class="divider"></div>
		{% if item.pictures.all.0 %}
		<img src="{{MEDIA_URL}}{{item.pictures.all.0}}">
		{% endif %}
		<div class="article-teaser">
		{% block content %}
		{{ item.tease|markdown }}
		{% endblock %}
		</div>
	</div>
	{% endfor %}
{% endblock %}