{% load thumb %}
<!-- bring in the OpenLayers javascript library
			 (here we bring it from the remote site, but you could
			 easily serve up this javascript yourself) -->
		<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
		<!-- bring in the OpenStreetMap OpenLayers layers.
			 Using this hosted file will make sure we are kept up
			 to date with any necessary changes -->
		<script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
	 
		<script type="text/javascript">
			// Start position for the map (hardcoded here for simplicity,
			// but maybe you want to get this from the URL params)
			var lat=37.852612;
			var lon=-122.535233;
			var zoom=13;
	 
			var map; //complex object of type OpenLayers.Map
	 
			function init() {
				
				map = new OpenLayers.Map ("map", {
					maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
					maxResolution: "156543.0399",
					numZoomLevels: 19,
					units: 'm',
					projection: new OpenLayers.Projection("EPSG:900913"),
					displayProjection: new OpenLayers.Projection("EPSG:4326")
				} );

				var lgpx = new OpenLayers.Layer.GML("{{posts.0.title}} Hike", "{{posts.0.gps.url}}", {
					format: OpenLayers.Format.GPX,
					style: {strokeColor: "orange", strokeWidth: 5, strokeOpacity: 0.75},
					projection: new OpenLayers.Projection("EPSG:4326")
				});

				//map.zoomTo(15);

				//lgpx layer loading has no bearing on map blackout
				//nor does manually zooming on loadend, or setting map center
				map.addLayer(lgpx);
				lgpx.events.register('loadend', map, function(){this.zoomToExtent(lgpx.getDataExtent())});
				
				layerMarkers = new OpenLayers.Layer.Markers("Markers");
				map.addLayer(layerMarkers);
				layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
				map.addLayer(layerMapnik);
				//layerTilesAtHome = new OpenLayers.Layer.OSM.Osmarender("Osmarender");
				//map.addLayer(layerTilesAtHome);
				// ughhh
				layerCycleMap = new OpenLayers.Layer.OSM.CycleMap("CycleMap");
				map.addLayer(layerCycleMap);
				
				map.addControl(new OpenLayers.Control.LayerSwitcher());				

				//You must set a starting lonlat or else the map displays a black screen on load
				//If the map has markers a relevant center location will be set
				var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
				map.setCenter(lonLat, zoom);

				var size = new OpenLayers.Size(21, 25);
				var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
				var icon = new OpenLayers.Icon('img/icons/glyphicons_195_circle_info.png',size,offset);
				AutoSizeAnchoredMinSize = OpenLayers.Class(OpenLayers.Popup.Anchored, {
					'autosize':true
		        });

				{% for mark in posts.0.markers.all %}
					{% if forloop.first %}
						ll = new OpenLayers.LonLat({{mark.lon}},{{mark.lat}}).transform(
							new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
							map.getProjectionObject());
						map.setCenter(ll, 13);
						var pic = 2;
					{% else %}
						ll = new OpenLayers.LonLat({{mark.lon}},{{mark.lat}}).transform(
							new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
							map.getProjectionObject());
						var pic = 1;
					{% endif %}
					popupContentHTML = "<b>{{mark.title}}</b><br>{{mark.time}}<br>loc: {{mark.lat}}, {{mark.lon}}{% if mark.elev != 0 %}<br>Elevation: {{mark.elev}}m {% endif %}";

					addMarker(ll, AutoSizeAnchoredMinSize, popupContentHTML, false, true, pic);


				{% endfor %}
				{% for photo in posts.0.pictures.all %}
					{% if photo.marker.lat %}
						ll = new OpenLayers.LonLat({{photo.marker.lon}},{{photo.marker.lat}}).transform(
								new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
								map.getProjectionObject());
						popupContentHTML = "<a href=\"{{photo.image.url}}\"><img width=100px src=\"{{ photo.image|thumbnail }}\"/></a>"
						//<br>loc: {{photo.marker.lat}}, {{photo.marker.lon}}
						addMarker(ll, AutoSizeAnchoredMinSize, popupContentHTML, false, true, 0);
					{% endif %}
				{% endfor %}

				thumbSize = new OpenLayers.Size(100,80);
				markerSize = new OpenLayers.Size(200,80);
				// pic: 0 = photo thumb, 1 = info, 2 = trailhead
				function addMarker(ll, popupClass, popupContentHTML, closeBox, overflow, pic) {

	            var feature = new OpenLayers.Feature(layerMarkers, ll); 
	            feature.closeBox = closeBox;
	            feature.popupClass = popupClass;
	            feature.data.popupContentHTML = popupContentHTML;
	            feature.data.overflow = (overflow) ? "auto" : "hidden";
				if(pic == 0){
					var size = new OpenLayers.Size(26, 20);
					var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
	            	feature.data.icon = new OpenLayers.Icon("http://dbro.pro/static/img/icons/glyphicons_011_camera.png",size,offset);
	            }
	            else if(pic == 1){
	            	var size = new OpenLayers.Size(26, 26);
	            	var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
	            	feature.data.icon = new OpenLayers.Icon("http://dbro.pro/static/img/icons/glyphicons_195_circle_info.png",size,offset);
	            }
	            else if(pic == 2){
	            	var size = new OpenLayers.Size(26, 26);
	            	var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
	            	feature.data.icon = new OpenLayers.Icon("http://dbro.pro/static/img/icons/glyphicons_005_car.png",size,offset);
	            }
	            var marker = feature.createMarker();
	            
	            //
	            var markerClick = function (evt) {
	                if (this.popup == null) {
	                    this.popup = this.createPopup(this.closeBox);
	                    map.addPopup(this.popup);
	                    this.popup.show();
	                    if(pic == 0){
	                    	this.popup.setSize(thumbSize);
	                	}
	                	else{
	                		this.popup.setSize(markerSize);
	                	}
	                } else {
	                    this.popup.toggle();
	                }
	                currentPopup = this.popup;
	                OpenLayers.Event.stop(evt);
	            };
	            marker.events.register("mousedown", feature, markerClick);
	            layerMarkers.addMarker(marker);
	        }


			}
		</script>