{% extends "base.html" %}

{% block style %}
h2{
	color:white;
}
h3{
	color:white;
}
{% endblock %}

{% block scripts %} 
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>

$('a').click(getNextPage(this.id));

function getNextPage(url){
	alert(url);
	$.ajax({
  type: 'POST',
  url: '/photocraig',
  data: {'url': url },
  success: alert('success'),
  dataType: "html"
});
}

</script>-->
{% endblock %}

{% block title %}PhotoCraig{% endblock %}

{% block containerSylte %}style="width:100%; margin-left:auto; margin-right:auto;" {% endblock %}

{% block body %}
	<h1>PhotoCraig</h1>
	<div>
		<form action="/photocraig/" method="post">{% csrf_token %}
			{{ form.as_p }}
		<input class="btn btn-primary" type="submit" value="Submit" />
		</form>
	</div>
	<div>
		{% for listing in listings %}
		<div style="vertical-align : bottom;width:400px;display:inline-block;padding:0px;">
			<a style="vertical-align : bottom;"href=" {{listing.url}}"><img style="width:400px" src="http://images.craigslist.org/{{ listing.image_url }}"/></a>
			<div style="vertical-align : bottom;opacity:.8;position:relative;background-color:#2234AB">
				{% if listing.price != "?" %}
				<h2>${{ listing.price }}</h2>
				{% endif %}
				<h3>{{ listing.description }}</h3>
				<h3>{{ listing.location }}</h3>
			</div>
		</div>
		{% endfor %}
		{% if next != None %}
		<a class="btn btn-primary" id="{{next}}">Next Page </a>
		{% endif %}
	</div>
{% endblock %}