body
{
	background-color:#454545;
	color:#FFFFFF;
	font-size:16px;

}

.container{
	width:70%;
}

.header{
	background:#005580;
	margin-bottom:10px;
}

.header-inner{
	margin-right:auto;
	margin-left:auto;
	width:70%;
}

.article-container{
	margin-bottom:10px;
}

.article-title{
	font-size:xx-large;
	color:#FFFFFF;
}
.article-title:hover{
	color:#FFFFFF;
	text-decoration:none;
}

.article-teaser{
	color:#E6E6E6;
}

.article-body{
	color:#E6E6E6;
}

.article-date{
	float:right;
}

.categories{
	margin-left:10px;
}

.category{
	padding-right:10px;
}

.shadow{
	text-shadow: #000000 0px 2px 1px;
}

.icon{
	height:30px;
}

.faded{
	opacity:0.5;
}

.divider{
	padding:1px;
	margin:2px;
	background:#787777;
}